[mysqld]
# Configuration de base de données
pid-file = /var/run/mysqld/mysqld.pid
socket = /var/run/mysqld/mysqld.sock
port = 3306
basedir = /usr
tmpdir = /tmp
# Configurations de journalisation
log-error = /var/log/mysql/error.log
# Configurations de réseau
bind-address = 0.0.0.0

# Configurations de sécurité
skip-networking = false

# Configurations de performance
max_connections = 100
innodb_buffer_pool_size = 256M

# Configurations de persistance de données
datadir = /var/lib/mysql
innodb_data_home_dir = /var/lib/mysql
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_group_home_dir = /var/lib/mysql


# Configurations d'autres options
character-set-server = utf8mb4
# collation-server = utf8mb4_unicode_
